:root {
    --teal: #14b8a6;
    --teal-700: #0f766e;
    --white: #fff;
    --slate: #334155;
    --red: rgb(249, 61, 61);
    --red-1: rgb(255, 3, 3);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0ece1;
}

header {
    background-color: var(--slate);
    color: var(--white);
    padding: 10px;
    top: 0;
    position: fixed;
    width: 100%;
}

.header-title {
    display: flex;
    justify-content: center;
}

.header-title>h1 {
    margin: 0 15px;
}

.wrapper {
    margin: 0 auto;
}

.input-group {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--slate);
    border-radius: 5px;
    width: 80%;
    margin-top: 110px;
    margin-bottom: 20px;
    padding: 2%;
}

.input-group>h2 {
    text-align: center;
    margin: 10px 0;
    color: var(--slate);
}

label {
    color: var(--slate);
    font-weight: bold;
}

form>.input>input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid var(--slate);
    background-color: #f0ece1;
}

form>.input>input:focus {
    outline: 1.5px solid var(--slate);
}

.input-inline {
    display: flex;
}

.input-inline>input {
    margin: 0 5px;
}

.btnSubmit {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    color: var(--white);
    font-size: 12pt;
    background-color: var(--slate);
    border: none;
    border-radius: 5px;
}

.btnSubmit>span {
    font-weight: bold;
    color: var(--teal);
    margin: 0 5px;
}

.btnSubmit:hover {
    cursor: pointer;
}

.book-shelf {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--slate);
    border-radius: 5px;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 2%;
}

.book-shelf>h2 {
    color: var(--slate);
}

.action {
    margin: 20px 0;
    border: 1px solid var(--teal);
    border-radius: 5px;
    padding: 10px;
}

.action>article>h2 {
    color: var(--teal);
    margin: 10px 0;
}

.action>article>p {
    color: var(--slate);
}

.book_item {
    margin: 10px 0;
}

.action>button {
    margin-bottom: 10px;
}

.button_green {
    background-color: var(--teal);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
}

.button_green:hover {
    background-color: var(--teal-700);
    cursor: pointer;
}

.button_delete {
    background-color: var(--red);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.button_delete:hover {
    cursor: pointer;
    background-color: var(--red-1);
}

@media screen and (max-width: 600px) {
    body {
        font-size: 10pt;
    }

    .header-title {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .header-title>.search-group>input {
        width: 80%;
    }
}